:root {
  --radius: 40px;
  --right-box-offset: 200px;
  --center-scale: 1.61;
  --nav-box-height: 140px;
}

body {
  overflow: hidden;
}

.nav-text {
  opacity: 0;
}

.nav-wrapper {
  width: 60%;
  height: 20%;
  position: absolute;
  top: 40%;
  left: 20%;
}

.nav-dot {
  top: calc(50% - var(--radius));
  animation: 1s ease-in-out bounce;
  position: absolute;
}

.nav-dot.left {
  left: calc(40% - var(--radius));
  background: var(--base-color1);
}

.nav-dot.center {
  left: calc(50% - var(--radius));
  background: var(--base-color2);
  animation-delay: .15s;
}

.nav-dot.right {
  right: calc(40% + var(--radius));
  background: var(--base-color3);
  animation-delay: .3s;
}

.left-box {
  height: calc(2 * var(--radius));
  width: var(--radius);
  background: inherit;
  border-radius: var(--radius) 0 0 var(--radius);
  position: absolute;
}

.center-box {
  height: calc(2 * var(--radius));
  width: 100px;
  transform-origin: 0;
  left: var(--radius);
  background: inherit;
  position: absolute;
  transform: scaleX(.01);
}

.right-box {
  height: calc(2 * var(--radius));
  width: var(--radius);
  transform: translateX(var(--radius));
  background: inherit;
  border-radius: 0 var(--radius) var(--radius) 0;
  position: absolute;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.nav-dot[data-status="activating"] {
  cursor: default;
  top: calc(50% - var(--nav-box-height) / 2);
  transition-duration: 1s;
}

.nav-dot.left[data-status="activating"] {
  left: 0;
}

.nav-dot.center[data-status="activating"] {
  left: calc(50% - var(--right-box-offset) / 2 - var(--radius) / 2);
}

.nav-dot.right[data-status="activating"] {
  right: calc(var(--right-box-offset)  + var(--radius));
}

.nav-dot[data-status="activating"] > .left-box, .nav-dot[data-status="activating"] > .center-box, .nav-dot[data-status="activating"] > .right-box {
  height: var(--nav-box-height);
  transition-duration: 1s;
}

.nav-dot[data-status="activating"] > .center-box {
  transform-origin: 0;
  animation: 1.5s 1s forwards center-animate;
}

.nav-dot[data-status="activating"] > .right-box {
  animation: 1.5s 1s forwards right-animate;
}

@keyframes right-animate {
  0% {
    transform: translateX(var(--radius));
  }

  100% {
    transform: translateX(var(--right-box-offset));
  }
}

@keyframes center-animate {
  0% {
    transform: scaleX(.01);
  }

  100% {
    transform: scaleX(var(--center-scale));
  }
}

.nav-dot[data-status="activated"] {
  cursor: pointer;
  top: calc(50% - var(--nav-box-height) / 2);
  transition-duration: 1s;
}

.nav-dot.left[data-status="activated"] {
  left: 0;
}

.nav-dot.center[data-status="activated"] {
  left: calc(50% - var(--right-box-offset) / 2 - var(--radius) / 2);
}

.nav-dot.right[data-status="activated"] {
  right: calc(var(--right-box-offset)  + var(--radius));
}

.nav-dot[data-status="activated"] > .left-box, .nav-dot[data-status="activated"] > .center-box, .nav-dot[data-status="activated"] > .right-box {
  height: var(--nav-box-height);
  transition-duration: 0s;
}

.nav-dot[data-status="activated"] > .center-box {
  transform-origin: 0;
  width: calc(100px * var(--center-scale));
  transform: none;
}

.nav-dot[data-status="activated"] > .right-box {
  transform: translateX(var(--right-box-offset));
}

.nav-dot[data-status="activated"] > .center-box {
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-dot[data-status="activated"] > .center-box > .nav-text {
  color: var(--spare-color);
  text-align: center;
  font-family: Lora, serif;
  font-size: 2.4rem;
  text-decoration: none;
  animation: .5s linear forwards text-fade-in;
}

.nav-dot[data-status="activated"]:hover > .center-box > .nav-text {
  color: var(--highlight-color);
  transition: all .3s;
}

@keyframes text-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: .9;
  }
}

@media only screen and (max-width: 1100px) {
  .nav-wrapper {
    width: 70%;
    left: 15%;
  }

  .nav-dot[data-status="activated"] > .center-box > .nav-text {
    font-size: 1.7rem;
    transition-duration: 0s;
  }
}

@media only screen and (max-width: 870px) {
  :root {
    --radius: 20px;
    --right-box-offset: 130px;
    --center-scale: 1.11;
    --nav-box-height: 125px;
  }

  .nav-dot[data-status="activated"] > .center-box > .nav-text {
    font-size: 1.5rem;
    transition-duration: 0s;
  }
}

@media only screen and (max-width: 660px) {
  :root {
    --radius: 10px;
    --right-box-offset: 90px;
    --center-scale: .81;
    --nav-box-height: 125px;
  }

  .nav-dot[data-status="activated"] > .center-box > .nav-text {
    font-size: 1.3rem;
    transition-duration: 0s;
  }
}

@media only screen and (max-width: 361px) {
  :root {
    --radius: 10px;
    --right-box-offset: 60px;
    --center-scale: .51;
    --nav-box-height: 80px;
  }

  .nav-dot[data-status="activated"] > .center-box > .nav-text {
    font-size: .8rem;
    transition-duration: 0s;
  }
}

/*# sourceMappingURL=index.1c7d86f5.css.map */
