body {
    overflow:hidden;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh; 
}

/* Collage from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1px;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  background-color: var(--background-color);
  max-width: 40%;
  
}

.row::-webkit-scrollbar {
  display: none;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 32%;
  max-width: 32%;
  padding: 0 0.5px;
}

.column img {
  margin-top: 0.5px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover {
  transition: 500ms;
  transform: scale(1.3);
  z-index: 2;
  border-radius: 5%;
}

.text-container {
  padding-top: 2%;
  margin-left: -15%;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--base-color1) 15%);
  background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--base-color1) 15%);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--base-color1) 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#7e777b",GradientType=1); 
  border-radius: 0% 3% 3% 0%;
  pointer-events: none;
  z-index: 3;
}

.text-area {
  height: 100%;
  margin-left: 15%;
  padding-left: 3%;
  padding-right: 3%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  overflow-y: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.text-area::-webkit-scrollbar {
  display: none;
}

.about-section {
  padding-top: 40px;
}

.about-heading, .about-intro {
  font-family: 'Ubuntu', sans-serif;
  color: var(--spare-color);
}

.about-heading {
  text-align: center;
}

.about-intro {
  margin-top: 10px;
}

.back-slide {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    width: 80px;
    transition: 0.4s;
}

.back-slide:hover {
  width: 160px;
}

.fa-angles-left {
  font-size: 1rem;
  color: var(--spare-color);
  opacity: 0.4;
  transform: rotate(180deg);
  transition: 0.4s;
}

.back-slide:hover .fa-angles-left {
  opacity: 1;
  transform: scale(1.5) rotate(180deg);
}

/* TODO: Finish the text for the about me page, then find the pixel width where scrolling is necessary and 
  create a media function to allow scrolling at that point by turning on the cursor capture for the .text-container
*/

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .column {
      flex: 49%;
      max-width: 49%;
    }

    .fa-circle-arrow-right {
        font-size: 2rem;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 730px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .fa-circle-arrow-right {
        font-size: 1rem;
    }

    .text-container {
      pointer-events: all;
    }

    .row {
      max-width: 25%;
    }

    .back-slide {
      width: 300px;
    }

    .back-slide:hover {
      width: 350px;
    }
  }