:root {
    --card-width: 250px;
    --card-border-radius: 16px;
    --row-increment: 10px;
    --card-small: 30;
    --card-medium: 38;
    --card-large: 45;
}

.project-main {
    display: flex;
    flex-direction: column;
}

.back-row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.projects-arrow {
    color: var(--spare-color);
    opacity: 0.6;
    font-size: 2rem;
    transform: rotate(90deg);
    transition: 0.4s;
    padding-left: 10px;
}

.back-row:hover .projects-arrow {
  transform: rotate(90deg) scale(1.5);
}

.grid-container {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    grid-auto-rows: var(--row-increment);
    width: 100%;
    height: 100%;
    padding: 10px 20px 0px 20px;
    overflow-y: auto;
    justify-content: center;
    margin-bottom: 20px;
}

.project {
    --inline: 9px;
    --block: 0;
    --duration: 150ms;
    --padding: 3px;
    --border: 5px;
    padding: var(--padding);
    margin: 15px 10px;
    box-shadow: inset 0 0 0 var(--border) var(--spare-color);
    border-radius: calc(var(--card-border-radius) + var(--padding));
    overflow: hidden;
    cursor: pointer;
    display: grid;
}

.project-small {
    grid-row-end: span var(--card-small);
}

.project-medium {
    grid-row-end: span var(--card-medium);
}

.project-large {
    grid-row-end: span var(--card-large);
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: var(--card-border-radius);
    z-index: 2;
    background: var(--background-color);
}

.project-img {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    z-index: 1;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.project-heading,
.project-description {
    color: var(--spare-color);
    font-family: 'Lora', serif;
}

.project-heading {
    text-align: center;
    text-decoration: underline var(--base-color2) 4px;
}

.project-description {
    padding-left: 3%;
    padding-right: 3%;
}

.tail {
    transition: all var(--duration);
    width: var(--inline);
    height: var(--block);
    background: var(--base-color2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.tail.top {
    background-image: var(--base-color2);
    height: var(--inline);
    width: var(--block);
    transition-delay: calc(var(--duration) * 2);
}

.tail.right {
    right: 0;
    left: unset;
    background: var(--base-color2);
    transition-delay: var(--duration);
}

.tail.bottom {
    height: var(--inline);
    width: var(--block);
    bottom: 0;
    right: 0;
    left: unset;
    top: unset;
    background-image: var(--base-color2);
    transition-delay: 0ms;
}

.tail.left {
    bottom: 0;
    top: unset;
    transition-delay: calc(var(--duration) * 3);
}

.snake:where(.start, :hover) .tail.top {
    transition-delay: var(--duration);
}

.snake:where(.start, :hover) .tail.right {
    transition-delay: calc(var(--duration) * 2);
}

.snake:where(.start, :hover) .tail.bottom {
    transition-delay: calc(var(--duration) * 3);
}

.snake:where(.start, :hover) .tail.left {
    transition-delay: 0ms;
}

.snake {
    position: relative;
}

.snake.start .tail {
    --block: 0;
}

.snake:hover .tail {
    --block: 100%;
}