:root {
    --base-color1: #C2EDCE;
    --base-color2: #BADFE7;
    --base-color3: #FFC3AD;
    --highlight-color: #F6F6F2;
    /* --background-color: #F2F5FF; */
    --background-color: #f3f2ef;
    --spare-color: #245656;
}


*,
::before,
::after {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--background-color);
}

main {
    width: 100vw;
    height: 100vh;
}

