.transition-swipe-up {
    transition: 0.4s;
}

html.is-animating .transition-swipe-up {
    transform: translateY(-70%);
}

html.is-leaving .transition-swipe-up {
    transform: translateY(-70%);
    transition: 1s;
}

.transition-swipe-right {
    transform-origin: left;
}

html.is-animating .transition-swipe-right {
    transition: 0.8s;
    transform: translateX(-100%);
}

html.is-rendering .transition-swipe-right {
    transition: 0.8s;
}

.transition-enter-from-bottom {
    transform-origin: bottom;
}

html.is-animating .transition-enter-from-bottom {
    transition: 0.8s;
    transform: translateY(100%)
}

html.is-rendering .transition-enter-from-bottom {
    transition: 0.8s;
}

.transition-swipe-left {
    transform-origin: right;
}

html.is-animating .transition-swipe-left{
    transition: 0.8s;
    transform: translateX(100%);
}

html.is-rendering .transition-swipe-left {
    transition: 0.8s;
}